#  ZEPHYR DEV ENVIRONMENT EXAMPLE CONFIGURATION
# =================================================================

DATABASE_URL="postgresql://postgres:postgres@localhost:5433/zephyr?schema=public"

ZEPHOB_ROOT_USER="zephob-admin"
ZEPHOB_ROOT_PASSWORD="zephob-admin"
ZEPHOB_BUCKET_NAME="uploads"
ZEPHOB_PORT="9090"
ZEPHOB_CONSOLE_PORT="9001"
ZEPHOB_ENDPOINT="http://localhost:9090"
NEXT_PUBLIC_ZEPHOB_ENDPOINT="http://localhost:9090"

RABBITMQ_URL=amqp://admin:admin123@localhost:5672
MEILISEARCH_URL=http://localhost:7700
MEILISEARCH_MASTER_KEY=masterKey123
TIMESCALEDB_URL=postgresql://postgres:postgres@localhost:5434/zephyr-logs?schema=public

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=

REDIS_URL="redis://:zephyrredis@localhost:6379/0"

NEXT_PUBLIC_AUTH_URL="https://auth.localhost"
NEXT_PUBLIC_URL="https://social.localhost"
SUPPORT_EMAIL="info@zephyyrr.in"
NODE_ENV="development"
NEXT_TELEMETRY_DISABLED=1
TURBO_TELEMETRY_DISABLED=1
BETTER_AUTH_TELEMETRY=0
