.tiptap p.is-editor-empty:first-child::before {
  float: left;
  height: 0;
  color: var(--background-alt);
  pointer-events: none;
  content: attr(data-placeholder);
}

.ProseMirror:focus {
  outline: none;
}
